@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */
:root{
    --clr-dark: #2b2b2b;
    --clr-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-semilight: #d9d9d9;
    --font: "Truculenta", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: iZherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-dark);
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
  
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;

  }

  /* HEADER */
  .header{
    padding: 2rem 0;
    background-color: var(--clr-semilight);
  }
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .header .header__wrapper ul li a{
    font-weight: 700;
    color: var(--clr-dark);
    font-size: 2rem;
  }
  .header .header__wrapper ul li a:hover{
    color: var(--clr-primary);
  }

/*MOBILE RESPONSIVE */
.header .toggle__menu span{
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border  : 2px solid;
  border-radius: 1rem;
  display: block;
}
.header .toggle__menu{
  display: none; 
}
@media screen and (max-width:520px) {
    .header .toggle__menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header .header__nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-semilight);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
    transition: all 0.5s ease;
    transform: translateY(-18rem);
    margin-top: 29rem;
    gap: 2rem;
    right: -100%;
  }
.header__nav.open{
  right: 0;
  transition: all 0.5 ease;
}
  .header .header__wrapper img {
    width: 10rem;
  }

  .toggle__menu.open span:first-child{
    transform: translate(0, 11px)rotate(230deg);
    transition: .5s ease;
  }
  .toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
  }
  .toggle__menu.open span:last-child{
    transform: translate(0, -7px)rotate(-230deg);
    transition: .5s ease;
  }
}

  /*TOP */
  .top{
    background-color: var(--clr-secondary);
    padding: 3rem 0;
    text-align: center;
  }
  .top span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .top h4{
    line-height: 2.2rem;
    font-size: 3rem;
    font-weight: 700;
  }
/* HOME BANNER */
.homeBanner{
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.homeBanner__wrapper{
  display: flex;
  justify-content: space-between;
}
.homeBanner__left{
  max-width: 80rem;
}
.homeBanner__left ul li{
  line-height: 5rem;
}
.homeBanner__left ul li:first-child{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
}
.homeBanner__left ul li:nth-child(2){
  color: var(--clr-secondary);
  font-size: 5rem;
  font-weight: 700;
  margin-left: 7rem;
}
.homeBanner__left ul li:last-child{
  /* position: absolute; */
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 100;
}
.homeBanner__left ul li:last-child::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  width: 20rem;
  height: .2rem;
  bottom: 1rem;
  right: 1rem;
}
.homeBanner__left p{
  margin-bottom: 5rem;
}
.homeBanner__right{
  display: flex;
  gap: 2rem;
}
.homeBanner__right img:last-child{
  position: relative;
  top: 4rem;
}
@media screen and (max-width:520px){
.homeBanner__wrapper{
  flex-direction: column;
}
.homeBanner__left ul li:last-child::before{
width: 10rem;
}
.homeBanner__right{
  display: none;
}
}
  /* ABOUT SECTION */
  .aboutSection{
    padding: 3rem;
    padding-bottom: 5;
    background-color: var(--clr-dark);
  }
  .aboutSection  h2{
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .aboutSection  h2::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    height: .2rem;
    width: 110rem;
    bottom: 1rem;
    right: 1rem;
  }
  .aboutSection__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
  }
  .aboutSection__right{
    max-width: 100rem;
  }
.aboutSection__right p{
  color: var(--clr-light);
  margin-bottom: 2rem;
}

@media screen and (max-width:520px) {
  .aboutSection__left {
    display: none;
  }
  .aboutSection  h2::before{
    display: none;
  }
}
/* CATALOG SECTION */
.catalogSection{
  padding: 3rem 0;
}
.catalogSection__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 5rem;
  max-width: 800px;
  
}
.catalogSection h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.catalogSection h2::after{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: .2rem;
  width: 120rem;
  bottom: 1rem;
  left: 1rem;
}

.catalogSection__card{
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
}
.catalogSection__card img{
  width: 40rem;
}
.catalogSection__card--content{
  padding: 1rem;
}
.catalogSection__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.catalogSection__card--content p{
  margin-bottom: 1rem;
}

@media screen and (max-width: 520px){
  .catalogSection h2::after{
    display: none;
  }
  .catalogSection__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;

  }
}
.interiorDesign__wrapper h1{
  text-align: center;
  font-size: 4rem;
  color: var(--clr-primary);
  font-weight: 700;
  padding: 3rem;
}
.interiorDesign__right p{
  color: var(--clr-dark);
  margin-bottom: 2rem;
  text-align: center;
}
.interiorDesign__left{
  display: flex;
  margin-bottom: 3rem;
  margin-top: 2rem;
  padding: 3rem 0;
}


/*  ABOUT PAGE BANNER MOBILE */
@media screen and (max-width: 520px ){
  .aboutBanner__left{
     display: none;
  }
  .aboutBanner__right h1{
    font-size: 4rem;
    }
    .aboutBanner__right ul li a{
      font-size: 1.5rem;
  }
}
/* LATEST SYLE SECTION */
.latestStyle{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.latestStyle h2{
  color: var(--clr-primary);
  font-size: 4rem;
  font-weight: 700;
}
.latestStyle__wrapper{
  display: grid;
  grid-template-columns:45rem 45rem 45rem;
}
.latestStyle p{
  color: var(--clr-light);
  font-size: 1.5rem;
}
.latestStyle__card{
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.latestStyle__card img{
  width: 40rem;
}
.latestStyle__card--content{
  padding: 1.5rem;
  font-size: 2rem;
}
.latestStyle__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.latestStyle__card--content p{
  margin-bottom: 1rem;
  color: var(--clr-dark);
  font-weight: 500;
  text-align: justify;
}
  /* UPDATE SECTION */
  .package_wrapper h2 {
    color: var(--clr-primary);
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
  }

  .package__wrapper {}
  .package_theme {
    padding: 5rem;
    display: flex;
    gap: 0.5rem;
    max-width: 1500px;
    /* justify-content: center; */
    width: 100%;
  }
  
  .package_left {
    width: 500rem;
    margin-left: 20rem;
    margin-top: 5rem;
  }
  
  .package_left img {
    width: 70rem;
  }
  .package_right h2 {
    color: var(--clr-primary);
    display: flex;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    margin-left: 6rem;
    height: -20px;
  }
  .package_right p {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: justify;
  }
  .package_theme:nth-child(odd) {
    background-color: var(--clr-semilight);
    flex-direction: row-reverse;
    display: flex;
  }
/* CONTACTS */

.contactPage {
  padding: 50px 0;
}

.contactPage h2 {
  font-size: 30px;
  font-weight: 700;
}

.contactPage h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--clr-primary);
}
.contacPage_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.contact__form input,
.contact__form textarea {
  border: none;
  background-color: var(transparent);
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px 16px;
}

.contact__form button {
  width: 100%;
  padding: 10px 16px;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1rem;
}
.contact__info {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 40px;
}

.contact__info ul li {`
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact__info ul li a {
  color: var(--clr-secondary);
  font-size: 2.5rem;
}

@media (max-width: 520px) {
  .contactPage {
    flex-direction: column;
  }
}
/* CALL TO ACTION */
.cta{
  padding: 3rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semilight);
}
.cta__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta h2{
font-size: 2.5rem;
font-weight: 700;
}
.cta p{
  margin-bottom: 1rem;
}
/* FOOTER */
.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
  padding: 2rem 0;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
.footer ul{
  display: flex;
  gap: 1rem;
}
.footer ul li a{
  color: var(--clr-semilight);
}
/* FOOTER SECTION MOBILE*/
@media screen and ( max-width: 520px ) {
  .footer__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}
/*  ABOUT PAGE BANNER */
.aboutBanner {
  padding: 3rem 0;
}
.aboutBanner__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.aboutBanner__right{
  max-width: 85rem;
}
.aboutBanner__right h1{
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2rem;
  margin-bottom: 2.5rem;
}
.aboutBanner__right ul{
  display: flex;
  gap: 1rem;
}
.aboutBanner__right ul li a{
  font-size: 2.5rem;
  color: var(--clr-dark);
}

.aboutBanner__right p{
  margin-bottom: 2.5rem;
  text-align: justify;
}

.aboutBanner__left small{
  margin-left: 1rem;
}
.aboutBanner__left small::before{
  display: inline-block;
 position: relative;
  content: " ";
  background-color: var(--clr-dark);
  width: 35rem;
  height: .2rem;
  bottom: .5rem;
  right: 1rem;
}
.catalogBanner__bg{
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./img/catalog-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* to center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.catalogBanner h1{
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}
.catalogBanner p{
  font-size: 3rem;
  line-height: 2.5rem;
}
.contacts{
  padding: 50px 0;

}
.contacts h2{
font-size: 30px;
margin-bottom: 20px;
}
.contacts__wrapper{
display: grid;
grid-template-columns: 1fr 1fr ;
grid-gap: 2rem;
}
.contacts__form input,
  .contacts__form textarea{
    border: none;
    background-color:var(transparent);
    width: 100%;
    border-bottom: 1px solid gray ;
    padding: 10px 16px;
  
}
/* UPDATE SECTION */

.updateSection h1 {
  color: var(--clr-primary);
  text-align: center;
  font-size: 7rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.updateBanner {
  padding: 50px 0;
}

.updateBanner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.updateSection {
  padding: 40px 0;
  max-width: 500px;
  width: 100;
}

@media (max-width: 520px) {
  .updateBanner_wrapper {
    flex-direction: column;
    padding: 0 15px;
  }
}

/* updates section 2 */
.updateSection2 {
  padding: 50px 0;
}
.updateSection2 h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: var(--clr-secondary);
  font-weight: 800;
}

.updateSection2_wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 50px;
}
.update_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.update_cards .card {
  padding: 30px;
  background-color: var(--clr-semilight);
}
.update_cards .card a {
  font-size: 4rem;
  color: var(--clr-dark);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.update_cards .card h4 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
  color: var(--clr-dark);
}
.update_right ul li {
  margin-bottom: 20px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

/* updates section 3 */

.updateSection3 h2 {
  color: var(--clr-primary);
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.updateSection3 {
  padding: 10px;
}

.updateSection3_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.updateSection3_wrapper ul {
  display: flex;
  justify-content: space-between;
}
.updateSection3_wrapper {
  width: 100;
}
.updateSection3_wrapper ul li a {
  color: var(--clr-dark);
}
.updateSection3_wrapper img {
  width: 100%;
  margin-bottom: 10px;
}
  /* REPEATABLE  */
    .btn{
      background-color: transparent;
      border: transparent;
      border-radius: 10rem;
      padding: 1rem 2rem;
      color: transparent;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-weight: 700;
    }
    .btn.bg--semi-light{
      background-color: var(--clr-semilight);
      color: var(--clr-dark);
    }
    .btn.bg--semi-light:hover{
      background-color: var(--clr-dark);
      color: var(--clr-semilight);
    }

    .btn--nobg{
      color: var(--clr-dark);
    }
    .btn--nobg:hover{
      color: var(--clr-primary);
    }
